<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VLDSX {{ _('utilsLabel') }} {{ page_title }}</title>
        {% assets "css_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="https://vldsx.com"><img src="{{ url_for('static', filename='logo/logo-dark.png') }}" alt="VLDSX"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://vldsx.com">{{ _('mainPage') }}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('base.index') }}">{{ _('utilsLabel') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cities.vldsx.com">OWM Cities</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="language-selector"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            {{ locale|upper }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language-selector">
                            {% for lang in config.LANGUAGES %}
                                {% if lang != locale|lower %}
                                    <a class="dropdown-item" href="{{ url_for('base.setlang', locale=lang) }}">{{ lang.upper() }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluit">
            {% block content %}{% endblock %}
        </div>

        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block additional_js %}{% endblock %}
    </body>
</html>