{% extends "base.html" %}

{% block content %}
    <ul>
        <li>
            <a href="{{ url_for('layout.index') }}">
                {{ _('layoutPageTitle') }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('strikethrough.index') }}">
                {{ _('strikethroughPageTitle') }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('rotator.index') }}">
                {{ _('rotatePageTitle') }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('role_formatter.index') }}">
                {{ _('roleFormatterPageTitle') }}
            </a>
        </li>
    </ul>
{% endblock %}
