{% extends "base.html" %}

{% block content %}
    <h1>{{ _('layoutPageTitle') }}</h1>
    <div class="main-content">
        {% if request.method == 'GET' and (request.values.get('i') or request.values.get('source') or request.values.get('destination')) %}
            <div class="alert alert-warning" role="alert">
                {{ _('deprecationWarning') }}
            </div>
        {% endif %}
        <form
            class="js-form"
            action="{{ url_for('layout.index') }}"
        >
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="input_">{{ _("inputAreaLabel") }}</label>
                {{ form.input_(class="form-control inputarea", rows="3") }}
            </div>
            <div class="row form-container justify-content-center align-items-center">
                <div class="form-group col-lg-2">
                    {{ form.source(class="form-control") }}
                </div>
                <div class="form-group col-lg-1 text-center">
                    <span class="d-lg-block d-none">
                        &rarr;
                    </span>
                    <span class="d-lg-none">
                        &darr;
                    </span>
                </div>
                <div class="form-group col-lg-2">
                    {{ form.destination(class="form-control") }}
                </div>
            </div>
            <div class="row submit-container">
                <input type="submit" class="col-12 btn btn-dark submit" value="{{ _('layoutActionButton') }}"/>
            </div>
            <div class="form-group">
                <label for="outputarea">
                    {{ _('layoutOutputAreaLabel') }}
                </label>
                <textarea
                    class="form-control outputarea"
                    rows="3"
                    id="outputarea"
                    id="outputarea"
                    disabled="disabled"
                ></textarea>
            </div>
            <button
                class="btn btn-dark copy"
                title="{{ _('copyButtonTitle') }}"
                data-success="{{ _('successCopiedMessage') }}"
            >
                ⎘ {{ _('copyButtonLabel') }}
            </button>
        </form>
    </div>
{% endblock %}

{% block additional_js %}
    {% if request.method == 'GET' and (request.values.get('i') or request.values.get('source') or request.values.get('destination')) %}
        <script>
            $(document).ready(() => {
                setTimeout(() => {
                    const $input = $('#input_');
                    $input.val("{{ request.values.get('i') }}");
                    $('#source').val("{{ request.values.get('source') }}");
                    $('#destination').val("{{ request.values.get('destination') }}");
                    $('form').submit();
                }, 100);
            });
        </script>
    {% endif %}
{% endblock %}
