{% extends "base.html" %}

{% block content %}
    <h1>{{ _('memeGeneratorPageTitle') }} (BETA)</h1>
    <div class="main-content">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <form method="post" enctype='multipart/form-data'>
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="text">{{ _("inputAreaLabel") }}</label>
                {{ form.text(class="form-control") }}
            </div>
            {% if form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ '\n'.join(form.text.errors) }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="image">{{ _("uploadImageFieldLabel") }} {{ _("sizeLimitLabel") }}</label>
                {{ form.image(accept="image/png, image/jpeg", class="form-control") }}
            </div>
            {% if form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ '\n'.join(form.image.errors) }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="text_color">{{ _("colorFieldLabel") }}</label>
                {{ form.text_color() }}
            </div>
            {% if form.text_color.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ '\n'.join(form.text_color.errors) }}
                </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <input type="submit" class="col-12 btn btn-dark submit" value="{{ _('generateButtonLabel') }}"/>
                </div>
                <div class="col">
                    <input type="submit" class="col-12 btn btn-dark submit" name="download" value="{{ _('downloadButtonLabel') }}"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
