{% extends "base.html" %}

{% block content %}
    <h1>{{ _('docPageTitle') }}</h1>
    <div class="main-content">
        <p>
            {{ _('rotateTextLabel') }}
            <a href="{{ url_for('index') }}" target="_blank">
                {{ _('rotateTextLabel2') }}
            </a>
        </p>
        <table class="table table-striped table-bordered">
            <colgroup>
                <col style="width: 50%"/>
                <col style="width: 50%"/>
            </colgroup>
            <thead>
                <tr>
                    <th>{{ _('symbolLabel') }}Символ</th>
                    <th>{{ _('rotatedSymbolLabel') }}Перевернутый Символ</th>
                </tr>
            </thead>
            <tbody>
                {% for key, val in mapping.items() %}
                    <tr>
                        <td>
                            {{ key }}
                        </td>
                        <td>
                            {{ val }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
