{% extends "base.html" %}

{% block content %}
    <h1>{{ _('rotatePageTitle') }}</h1>
    <div class="main-content">
        {% if request.method == 'GET' and request.values.get('i') %}
            <div class="alert alert-warning" role="alert">
                {{ _('deprecationWarning') }}
            </div>
        {% endif %}
        <form
            class="js-form"
            action="{{ url_for('rotator.index') }}"
        >
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="input_">{{ _("inputAreaLabel") }}</label>
                {{ form.input_(class="form-control inputarea", rows="3") }}
            </div>
            <div class="row submit-container">
                <input type="submit" class="col-12 btn btn-dark submit" value="{{ _('rotateActionButton') }}"/>
            </div>
            <div class="form-group">
                <label for="outputarea">
                    {{ _('rotateOutputAreaLabel') }}
                </label>
                <textarea
                    class="form-control outputarea"
                    rows="3"
                    id="outputarea"
                    disabled="disabled"
                ></textarea>
            </div>
            <button
                class="btn btn-dark copy"
                title="{{ _('copyButtonTitle') }}"
                data-success="{{ _('successCopiedMessage') }}"
            >
                ⎘ {{ _('copyButtonLabel') }}
            </button>
            <button
                class="btn btn-dark share"
                title="{{ _('shareButtonTitle') }}"
                data-success="{{ _('successCopiedMessage') }}"
            >
                {{ _('shareButtonLabel') }}
            </button>
        </form>
        <p>
            {{ _('docLinkLabel') }}
            <a href="{{ url_for('rotator.doc') }}" target="_blank">
                {{ _('docLinkLabel2') }}
            </a>
        </p>
    </div>
{% endblock %}

{% block additional_js %}
    {% if request.method == 'GET' and request.values.get('i') %}
        <script>
            $(document).ready(() => {
                setTimeout(() => {
                    const $input = $('#input_');
                    $input.val("{{ request.values.get('i') }}");
                    $input.submit();
                }, 100);
            });
        </script>
    {% endif %}
{% endblock %}
