{% extends "base.html" %}

{% block content %}
    <h1>{{ _('strikethroughPageTitle') }}</h1>
    <div class="main-content">
        {% if request.method == 'GET' and request.values.get('i') %}
            <div class="alert alert-warning" role="alert">
                {{ _('deprecationWarning') }}
            </div>
        {% endif %}
        <form
            class="js-form"
            action="{{ url_for('strikethrough.index') }}"
            data-type="add-symbol"
        >
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="input_">{{ _("inputAreaLabel") }}</label>
                {{ form.input_(class="form-control inputarea", rows="3") }}
            </div>
            <div class="form-group">
                <label for="outputarea">
                    {{ _('strikethroughOutputAreaLabel') }}
                </label>
                <textarea
                    class="form-control outputarea"
                    rows="3"
                    id="outputarea"
                    disabled="disabled"
                ></textarea>
            </div>
            <button
                class="btn btn-dark copy"
                title="{{ _('copyButtonTitle') }}"
                data-success="{{ _('successCopiedMessage') }}"
            >
                ⎘ {{ _('copyButtonLabel') }}
            </button>
        </form>
    </div>
{% endblock %}

{% block additional_js %}
    {% if request.method == 'GET' and request.values.get('i') %}
        <script>
            $(document).ready(() => {
                setTimeout(() => {
                    const $input = $('#input_');
                    $input.val("{{ request.values.get('i') }}");
                    $input.keyup();
                }, 100);
            });
        </script>
    {% endif %}
{% endblock %}
